################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignorar diretorios do Visual Studio
.vs/

# Ignorar arquivos de build do MAUI
bin/
obj/
.vscode/
*.db
*.db-shm
*.db-wal
*.pdb
*.lock


