################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LuckyDigits/FileContentIndex/96332088-fb52-4191-9706-19117f11527b.vsidx
".vs/" 
